# Reading some files and parsing in a standar format

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
%cd /content/gdrive/MyDrive/smartia/

[Errno 2] No such file or directory: '/content/gdrive/MyDrive/smartia/'
/content

### Import nedeed libraries

In [ ]:
import pandas as pd
from os.path import join

### Loadding some files

In [ ]:
!ls stuff/input_files/examples/

 BaseAsistidaClie_2020_12_10.csv   csv_with_several_doble_marks.csv
 BaseAsistidaTel_2020_12_10.csv   'DIGEVO_Estructura Interfazces.xlsx'
 CMDF_sinacotm_210115.TXT	   EMX_BDGVO_RVI_PRUEBA_RAW_1.raw
 csv_normal.csv			   excel_sample.xlsx

In [ ]:
FILES_DIR = "stuff/input_files/examples"

## Files .CSV

In [ ]:
# Loading a .csv  without "" 
path_file = join(FILES_DIR, "csv_normal.csv")

df = pd.read_csv(path_file, 
                 header= None) #,
                 #engine = 'python')
df.head()

      0                1              2  3     4      5         6  7      8
0  1534  HECTOR BLADIMIR  LOPEZ GUEVARA  M  Malo  44202  79806406  -  CUMST

In [ ]:
# Loading a .csv  with "" 
path_file = join(FILES_DIR, "BaseAsistidaClie_2020_12_10.csv")

df = pd.read_csv(path_file, 
                 header= None,
                 engine = 'python')
df.head()

     0                1              2   ...  16                       17       18
0   870   CARLOS EDUARDO         MEJIA   ...   M  2020-11-01 00:00:00.000   313023
1  1534  HECTOR BLADIMIR  LOPEZ GUEVARA  ...   M  2020-12-08 00:00:00.000  4382088
2  2123    EDGAR ENRIQUE     BENAVIDES   ...   M  2020-12-07 00:00:00.000  4145132
3  2353      MARIA LUISA       MENDOZA   ...   F  2020-12-05 00:00:00.000    93148
4  2362     LUIS ARMANDO         RAMOS   ...   M  2020-12-08 00:00:00.000  4737609

[5 rows x 19 columns]

In [ ]:
# Loading a .csv  with several doble marks "" 
path_file = join(FILES_DIR, "csv_with_several_doble_marks.csv")

n_columns = 9
rm_quote = lambda x: x.replace('"', '')
converter_dic = { '\"{}\"'.format(i) : rm_quote for i in range(n_columns)}

df = pd.read_csv(path_file, 
                 header= None,
                 engine = 'python',
                 #converters=converter_dic ,
                 encoding='latin-1')
df.head()

        0                  1                2  ...           6    7        8
0  "1534"  "HECTOR BLADIMIR"  "LOPEZ GUEVARA"  ...  "79806406"  "-"  "CUMST"

[1 rows x 9 columns]

## File .xlsx

In [ ]:
# Loading a .csv  without "" 
path_file = join(FILES_DIR, "excel_sample.xlsx")

df = pd.read_excel(path_file, 
                 header= None) #,
                 #engine = 'python')
df.head()

      0                1              2  3  ...      5         6  7             8
0  1534  HECTOR BLADIMIR  LOPEZ GUEVARA  M  ...  44202  79806406  -         CUMST
1  2123    EDGAR ENRIQUE      BENAVIDES  M  ...  44202  77361885  -  Ult.Contacto
2  2353      MARIA LUISA        MENDOZA  F  ...  44199  76513699  -   BANCA MOVIL
3  2353      MARIA LUISA        MENDOZA  F  ...  44199  78614244  -         CUMST

[4 rows x 9 columns]

Converters

In [ ]:
rm_quote = lambda x: x.replace('"', '')

df = pd.read_csv('test.csv', delimiter='; ', engine='python', 
     converters={'\"j\"': rm_quote, 
                 '\"x\"': rm_quote})

df = df.rename(columns=rm_quote)